<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content='width=device-width initial-scale=1.0'>
        <title> Data1 </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    </head>

    <body>
        <nav class="navbar navbar-expand-lg" style="background-color: #A6051A">
                <a class="navbar-brand" href="/" style="color: #FFEB00;">Data1</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/results" style="color: #FFFFFF;">Results</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/profile" style="color: #FFFFFF;">Profile</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <h1> Profile </h1>

            <h1>{{profile.user}} </h1>
            <a href='/logout'> Log out</a>
            <a href='/register'> Update Profile </a>


            {{userList.name}}
              
        
    </body>

</html>